<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/kompyuternye-komplektuyushchie.png">
        <h2 class="title">Компьютерные комплектующие</h2>
        <ul class="list">
            <li class="list__item">SSD</li>
            <li class="list__item">Системы охлаждения</li>
            <li class="list__item">Видеокарты</li>
            <li class="list__item">ОЗУ</li>
            <li class="list__item">Процессоры</li>
            <li class="list__item">Материнские платы</li>
            <li class="list__item">Жесткие диски и дисковые массивы</li>
            <li class="list__item">Блоки питания</li>
        </ul>
    </div>
</div>

