<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/aksessuari-dlia-elektronyky.png">
        <h2 class="title">Аксессуары для электроники</h2>
        <ul class="list">
            <li class="list__item">Флеш память USD</li>
            <li class="list__item">Хабы и кадридеры</li>
            <li class="list__item">Аксессуары для ПК и ноутбуков</li>
            <li class="list__item">Сетевые фильтры, адаптеры и удлинители</li>
            <li class="list__item">Чехлы для планшетов</li>
            <li class="list__item">Сумки, рюкзаки и чехлы для ноутбуков</li>
            <li class="list__item">Чистящие средства</li>
        </ul>
    </div>
</div>


