@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.App {
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.user {
    margin: 15px;
    padding: 15px;

    max-width: min-content;

    font-family: 'Montserrat';
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 10px;
}
.wrapper {
    display: flex;
    gap: 5px;

    font-weight: 700;
}
.user__item {
    margin-bottom: 5px;
}
.user__img {
    max-width: 250px;
    overflow: hidden;
    border-radius: 10px
}


.club {
    margin: 15px;
    padding: 15px;

    max-width: min-content;

    font-family: 'Montserrat';
    color: #fff;
    background-color: #1f1f1f;
    border-radius: 10px;
}