<div class="page">
	<h1 class="page__title">SOFTEKA</h1>

	<div class="page__wrapper">
		<app-laptop class="page__item"></app-laptop>
		<app-computer class="page__item"></app-computer>
		<app-screen class="page__item"></app-screen>
		<app-gamimg class="page__item"></app-gamimg>
		<app-tablet class="page__item"></app-tablet>
		<app-cables-and-adapters class="page__item"></app-cables-and-adapters>
	
		<app-computer-accessories class="page__item"></app-computer-accessories>
		<app-network-equipment class="page__item"></app-network-equipment>
		<app-headphones-and-accessories class="page__item"></app-headphones-and-accessories>
		<app-keyboard-and-mouse class="page__item"></app-keyboard-and-mouse>
		<app-accessories-for-electronics class="page__item"></app-accessories-for-electronics>
		<app-office-equipment class="page__item"></app-office-equipment>
	</div>
</div>
