<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/setevoe-oborudovanie.png">
        <h2 class="title">Сетевое оборудование</h2>
        <ul class="list">
            <li class="list__item">Маршрутизаторы</li>
            <li class="list__item">Коммутаторы</li>
            <li class="list__item">Сетевые адаптеры</li>
            <li class="list__item">Пассивное сетевое оборудование</li>
            <li class="list__item">Беспроводные тчоки доступа</li>
            <li class="list__item">Ретранслятор WI-FI</li>
            <li class="list__item">Патч-корды</li>
        </ul>
    </div>
</div>


