<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/naushniki-i-aksessuary.png">
        <h2 class="title">Наушники и аксессуары</h2>
        <ul class="list">
            <li class="list__item">Наушники</li>
            <li class="list__item">TWS</li>
            <li class="list__item">Игровые гарнитуры</li>
            <li class="list__item">Вакуумные наушники</li>
            <li class="list__item">Наушники вкладыши</li>
            <li class="list__item">Накладные наушники</li>
            <li class="list__item">Полноразмерные наушники</li>
            <li class="list__item">Усилители для наушников</li>
            <li class="list__item">Аксессуары для наушников</li>
        </ul>
    </div>
</div>


