<header class="header">
    <div class="container">
        <h2 class="header__title">authorization</h2>

        <form class="form" action="POST">
            <div class="form__item">
                <label for="lable-login">Login: </label>
                <input name="lable-login" type="text">
            </div>
            <div class="form__item">
                <label for="lable-password">Password: </label>
                <input name="lable-password" type="password">
            </div>
            <input class="btn" type="button" value="Отправить">
        </form>
    </div>
</header>
