<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/klaviatury-i-myshi.png">
        <h2 class="title">Клавиатуры и мыши</h2>
        <ul class="list">
            <li class="list__item">Компьютерные мыши</li>
            <li class="list__item">Игровые поверхности</li>
            <li class="list__item">Клавиатуры</li>
            <li class="list__item">Комплект: клавиатура и мышь</li>
            <li class="list__item">Аксессуары для клавиатур и мышек</li>
        </ul>
    </div>
</div>


