<div class="wrapper-second">
    <div class="wrapper-second__content">
        <img src="https://video.rozetka.com.ua/img_superportal/kompyutery_i_noutbuki/ofisnaya-tekhnika.png">
        <h2 class="title">Оргтехника</h2>
        <ul class="list">
            <li class="list__item">МФУ/Принтеры</li>
            <li class="list__item">Сканеры</li>
            <li class="list__item">Расходные материалы для принтеров</li>
            <li class="list__item">Доски, флипчарты</li>
        </ul>
    </div>
</div>



